<div class="banner position-relative" id="tabla">
    <div class="container">
        <a href="#">
            <h1>Cambiar Contraseña</h1>
        </a><br>
        <form (ngSubmit)="onSubmit()" [formGroup]="usuarioForm">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label>Nueva Contraña</label>
                    <input formControlName="contrasenia" class="form-control fomr1" type="text" value="" required>
                    <div class="invalid-feedback">Complete el campo.</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Repita Contraseña</label>
                    <input formControlName="repeatContrasenia" class="form-control fomr1" type="text" value="" required>
                    <div class="invalid-feedback">Complete el campo.</div>
                </div>
            </div><br><br>
            <button class="btn btn-primary" type="submit">Cambiar Contraseña</button>
        </form>

    </div>
</div>