<div class="banner position-relative" id="tabla">

	<div class="container">
		<table class="table table-striped ">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Correo</th>
					<th>Movil</th>
					<th>Estado</th>
					<th>Sexo</th>
                    <th>Rol</th>
                    <th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let usuario of usuarios,let i =index">
					<td>{{usuario.nombre}}</td>
					<td>{{usuario.correo}}</td>
					<td>{{usuario.movil}}</td>
					<td>{{usuario.estado}}</td>
					<td>{{usuario.sexo}}</td>
					<td>{{usuario.rol.nombre}}</td>
					<td>
						<div class="btn-group">
							<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false">
								Acciones
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" (click)="actualizar(usuario)">Actualizar</a>
								<!-- <a class="dropdown-item" (click)="verDetalles(usuario)">Ver Detalles</a> -->
								<!-- <a class="dropdown-item" (click)="generarReporte(incidencia)" >Reportar</a> -->
								<!-- <a class="dropdown-item" (click)="eliminar(incidencia,i)">Eliminar</a> -->
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>


	</div>
</div>