.container{
    font-family: Poppins;
}
.calendar{
    width: 900px;
    margin: auto;
    -webkit-box-shadow: 35px 49px 28px -29px rgba(0,0,0,0.19);
-moz-box-shadow: 35px 49px 28px -29px rgba(0,0,0,0.19);
box-shadow: 35px 49px 28px -29px rgba(0,0,0,0.19);
}
.calendar-day{
    margin: 100px auto 0px auto;
    width: 500px;
    -webkit-box-shadow: 35px 49px 28px -29px rgba(0,0,0,0.19);
-moz-box-shadow: 35px 49px 28px -29px rgba(0,0,0,0.19);
box-shadow: 35px 49px 28px -29px rgba(0,0,0,0.19);
}
table{
    border-radius: 50px !important;
}
.nowIndicator{
color: green;
background-color: #81a0b3;
}
.resumen{
    margin:40px 0px 35px 5px;
    font-size: 18px;
    font-weight: bold;
  color: #262627;
  }
  .shadow{
      box-shadow: none !important;
    background-color:#fcfcfc ;
  }