<section class="w3l-form-36">
    <div class="form-36-mian section-gap">
      <div class="wrapper">
        <div class="form-inner-cont">
          <img height="100" width="90" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTv3RxZQ0wTKOconh-6wEJCHMCDgQ4xZdpbpag0Q09lCAjbk6pUDmmxdrPiDfdQIUPWJ4hiwcapJZkf7MDo4eiqKa9MNG-qQ7e6ZGsW&usqp=CAU&ec=45714079">
          <h3>Iniciar Sesión</h3>

          <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
            <div class="form-input">
              <span class="fa fa-envelope-o" aria-hidden="true"></span> 
              <input type="text" name="email" formControlName="login" placeholder="Username">
            </div>
            <div class="form-input">
              <span class="fa fa-key" aria-hidden="true"></span> 
              <input type="password" name="password" formControlName="clave" placeholder="Password">

            </div>
            <div class="login-remember d-grid">
              <label class="check-remaind">
                <!-- <input type="checkbox"> -->
                <!-- <span class="checkmark"></span> -->
              </label>
              <button class="btn theme-button" type="submit">Ingresar</button>
            </div>
            <div class="new-signup">
              <a href="#" class="signuplink">¿Olvido su contraseña?</a>
            </div>
          </form>
         
          <!-- <p class="signup">¿No tiene una cuenta asociada? <a href="#" class="signuplink">Registrarse</a></p> -->
        </div>

        
        
      </div>
    </div>
  </section>