<div class="banner position-relative" id="tabla">
    <div class="container">
        <a href="#">
            <h1>Actualizar incidencias</h1>
        </a><br>
        <form (ngSubmit)="onSubmit()" [formGroup]="actualizarForm">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label>Nombre</label>
                    <input formControlName="incidencia" class="form-control fomr1" type="text" value="" required>
                    <div class="invalid-feedback">Complete el campo.</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Tipo</label>
                    <select class="form-control fomr1" formControlName="tipoIncidencia" type="text" id="direccion"
                        placeholder="Tipo de incidencia" >
                        <option value="" disabled>Tipo</option>
                        <option value="1">leve</option>
                        <option value="2">severo</option>
                        <option value="3">crítico</option>
                    </select>

                    <div class="invalid-feedback">Complete el campo.</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Prioridad</label>
                    <select type="text" class="form-control fomr1" formControlName="prioridadIncidencia" >
                        <option value="" disabled>Prioridad</option>
                        <option value="1">crítica</option>
                        <option value="2">alta</option>
                        <option value="3">media</option>
                        <option value="4">baja</option>
                        <option value="5">muy baja</option>
                    </select>
                    <div class="invalid-feedback">Complete el campo.</div>
                </div><br><br><br>

                <div class="col-md-12 mb-3">
                    <label>Descripción</label>
                    <input type="text" class="form-control fomr1" formControlName="descripcion" value="" >
                    <div class="invalid-feedback">Complete el campo.</div>
                </div><br><br><br>


                <div class="col-md-4 mb-3">
                    <label>Estado</label>
                    <select type="text" class="form-control fomr1" formControlName="estadoIncidencia"
                        placeholder="Estado" aria-describedby="inputGroupPrepend" >
                        <option value="" disabled>Estado</option>
                        <option value="1">Por Validar</option>
                        <option value="2">Asignado</option>
                        <option value="3">En proceso</option>
                        <option value="4">Anulado</option>
                        <option value="5">Resuelto</option>
                        <option value="6">Cerrado</option>
                    </select>
                    <div class="invalid-feedback">Complete el campo.</div>
                </div>
                <div class="col-md-4 mb-3">
                    <label>Origen</label>
                    <select  class="form-control fomr1" formControlName="origen" placeholder="Origen"
                    aria-describedby="inputGroupPrepend">
                    <option value="Contabilidad">Contabilidad</option>
                    <option value="Administracion">>Administracion</option>
                    <option value="Recursos Humanos">Recursos Humanos</option>
                    <option value="TI">TI</option>
                    <option value="Caja">Caja</option>
                    <option value="Secretaria">Secretaria</option>
                    <option value="Almacen">Almacen</option>
                    </select>
                        <div class="invalid-feedback">Complete el campo.</div>
                   
                </div>
                <div class="col-md-4 mb-3">
                        <label>Asignar a</label>
                        <select type="text" class="form-control fomr1" formControlName="usuarioAsigna"
                             aria-describedby="inputGroupPrepend" >
                            <option value="" disabled>Asignar a</option>
                            <option value="{{soporte.id}}" *ngFor="let soporte of soportes">{{soporte.nombre}}</option>
                        </select>
                        <div class="invalid-feedback">Complete el campo.</div>
                   
                </div>
                <div class="col-md-12 mb-3">
                    <label>Escalar a</label>
                    <select formControlName="usuarioEscalado" class="form-control fomr1"  type="text"  placeholder="Escalado">
                        <option value="" disabled></option>
                        <option value="{{soporte.id}}" *ngFor="let soporte of soportes2">{{soporte.nombre}}</option>
                    </select>

                    <div class="invalid-feedback">Complete el campo.</div>
                </div>
            </div><br><br>
            <button class="btn btn-primary" type="submit">Actualizar</button>
        </form>

    </div>
</div>