
	<div class="container">
		<!-- top header -->
		
		<!-- top header -->
		<!-- nav -->
		<nav >
			<div id="logo">
				<h1> <a href="index.html">Vipusa</a></h1>
			</div>
			<label for="drop" class="toggle">Menu</label>
			<input type="checkbox" id="drop" />
			<ul class="menu mt-md-2 ml-auto">
				<li class="mr-lg-4 mr-2 " *ngIf="usuario.rol.id==5"><a routerLink="/main/registro-usuario" routerLinkActive="active font-weight-bold" >Registro Usuario</a></li>
				<li class="mr-lg-4 mr-2 " *ngIf="usuario.rol.id==5"><a routerLink="/main/usuarios" routerLinkActive="active font-weight-bold" >Usuarios</a></li>
				<li class="mr-lg-4 mr-2 " ><a routerLink="/main/incidencias" routerLinkActive="active font-weight-bold" >Incidencias</a></li>
				<li class="mr-lg-4 mr-2" *ngIf="usuario.rol.id!=5"><a routerLink="/main/registro" routerLinkActive="active font-weight-bold" >Registro de incidencias</a></li>
				<li class="mr-lg-4 mr-2 " ><a routerLink="/main/cambiar-contrasenia" routerLinkActive="active font-weight-bold" >Cambiar Contraseña</a></li>
				<!-- <li class="mr-lg-4 mr-2"><a routerLink="/main/reporte"  routerLinkActive="active font-weight-bold">Reporte de incidencias</a></li> -->
				<li class="mr-lg-4 mr-2" ><a routerLink="/login" routerLinkActive="active font-weight-bold" (click)="cerrarSesion()">Cerrar Sesión</a></li>
			</ul>
		</nav>
		<!-- //nav -->
	</div>

